.container {
  box-sizing: border-box;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  max-width: 1200px;
}
.container__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
label, span {
  margin: 0 4px;
}
.input_amount {
  width: 18%;
  margin-right: 12px !important;
}
.input_currency {
  width: 22%;
}
h3 {
  padding-left: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 460px) {
  .input_amount,
  .input_currency {
    display: block;
    width: 100%;
    margin-right: 0 !important;
  }
  .input_currency {
    margin-bottom: 12px;
  }
  .container__inner {
    display: block;
  }
  button {
    width: 100%;
    display: block;
    margin-top: 16px !important;
  }
  .container__inner > span,
  .container__inner label {
    display: block;
    text-align: center;
    background-color: #eaeaea;
    padding: 4px;
    border-radius: 8px;
    width: 20%;
    margin: 8px auto 0;
  }
}